<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Services</title>
</head>

<body>
    {% extends 'football_camp/base.html' %}

    {% block title %}Manage Services{% endblock %}

    {% block content %}
    <div class="container">
        <h1>Manage Services</h1>
        <ul>
            {% for service in services %}
            <li>
                {{ service.title }}
                <a href="{% url 'edit_service' service.id %}">Edit</a>
                <a href="{% url 'delete_service' service.id %}">Delete</a>
            </li>
            {% endfor %}
        </ul>
        <a href="{% url 'admin_create_service' %}">Create New Service</a>
    </div>
    {% endblock %}>
</body>

</html>