<!-- templates/football_camp/book_service.html -->
{% extends 'football_camp/base.html' %}

{% block title %}Book Service{% endblock %}

{% block content %}
<h1>Book a Service</h1>
<form method="POST">
    {% csrf_token %}
    <label for="player">Player:</label>
    <select name="player_id">
        {% for player in players %}
        <option value="{{ player.id }}">{{ player.name }}</option>
        {% endfor %}
    </select>
    <label for="service">Service:</label>
    <select name="service_ids" multiple>
        {% for service in services %}
            <option value="{{ service.id }}">{{ service.title }}</option>
        {% endfor %}
    </select>
    <button type="submit">Book Service</button>
</form>
{% endblock %}