{% extends 'football_camp/base.html' %}

{% block title %}Player Profile{% endblock %}

{% block content %}
<!-- <h1>Player Profile: {{ player.first_name }} {{ player.last_name }}</h1> -->

<h2>Bookings for {{ player.first_name }}:</h2>
<ul>
    {% for booking in bookings %}
    <li>
        <p>Booking Date: {{ booking.booking_date }}</p>
        <p>Services:</p>
        <ul>
            {% for service in booking.services.all %}
            <li>{{ service.title }}</li>
            {% endfor %}
        </ul>
        <a href="{% url 'edit_booking' booking_id=booking.id %}" class="btn btn-secondary">Edit Booking</a>
        <a href="{% url 'delete_booking' booking_id=booking.id %}" class="btn btn-danger">Delete Booking</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}