{% extends 'football_camp/base.html' %}

{% block title %}{{ player.first_name }} {{ player.last_name }} Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h2>{{ player.first_name }} {{ player.last_name }}'s Profile</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <p><strong>Gender:</strong> {{ player.gender }}</p>
                            <p><strong>Age:</strong> {{ player.age }}</p>
                            <p><strong>Height:</strong> {{ player.height }} cm</p>
                        </div>
                        <div class="col-md-4 text-center">
                            {% if player.pic %}
                                <img src="{{ player.pic.url }}" class="img-fluid rounded" alt="{{ player.first_name }} {{ player.last_name }}">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h3>{{ player.first_name }}'s Programs</h3>
                    <ul class="list-group">
                        {% for booking in bookings %}
                            <li class="list-group-item">
                                <p>Booking Date: {{ booking.booking_date }}</p>
                                <p>Services:</p>
                                <ul>
                                    {% for service in booking.services.all %}
                                        <li>{{ service.title }}</li>
                                    {% endfor %}
                                </ul>
                                <a href="{% url 'edit_booking' booking_id=booking.id %}" class="btn btn-secondary">Edit Booking</a>
                                <a href="{% url 'delete_booking' booking_id=booking.id %}" class="btn btn-danger">Delete Booking</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}