{% extends 'football_camp/base.html' %}

{% block title %}Your Account{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mt-5">
                <div class="card-header text-center">
                    <h2>{{ user.username }}'s Players</h2>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for player in players %}
                        <li class="list-group-item">
                            <a href="{% url 'player_profile' player.id %}">{{ player.first_name }} {{ player.last_name }}</a>
                            <div class="mt-2">
                                <a href="{% url 'edit_player' player.id %}" class="btn btn-secondary btn-sm">Edit Player</a>
                                <a href="{% url 'delete_player' player.id %}" class="btn btn-danger btn-sm">Delete Player</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}